.button-wrapper--maurice {
  font-family: "sofia", sans-serif;
  font-size: 20pt;

  font-weight: normal;
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    -1deg,
    white,
    white
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    -10deg,
    white,
    black
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    -90deg,
    lightblue,
    black
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-10deg, #fae34b, white); /* Standard syntax */
  text-align: center;
}

.button-wrapper--maurice button {
  padding: 50px;
  background: orange;
  text-shadow: 1px 1px 1px #202020;
  font-family: "poppins", sans-serif;
  font-size: 30pt;
  border: 10px solid #fae34b;
  color: white;
  cursor: pointer;
}

.button-wrapper--maurice button:hover {
  color: red;
}

.button-wrapper--maurice img {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  cursor: pointer;
}

.button-wrapper--maurice img.free-beer {
  display:block;
}




