.button-wrapper--rouven button {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  font-family:'Roboto',sans-serif, bold;
  font-weight: bold;
  color: white;
  transition: color 0.5s;
  background-image: linear-gradient(#8AE1FF, #E08DFF);
  border-radius: 40px;
  padding: 50px;
  cursor: pointer;
  margin: 10px;
}

.button-wrapper--rouven .reset-button {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  transform-origin: center center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  transition: transform .5s ease-in-out;
  cursor: pointer;
}

.button-wrapper--rouven .reset-button:hover {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.button-wrapper--rouven button:hover {
  color: pink;
  background: white;
  transition: background 0.5s;
}
