<div class="button-wrapper button-wrapper--alina">
  <h1>YOU WANT <br>
  TO DANCE WITH ME?</h1>
  <img class="image animated-image" src="https://funsubstance.com/uploads/gif/69/69808.gif">
  <img class="image start-image is-active" src="https://buttoncontest.unfun.de/img/alina-steiger/start_image.jpg">

  <div class="cta" data-name="alina">
    <span class="cta-label">START NOW</span>
    <svg width="13px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </div>
</div>
