<div class="button-wrapper button-wrapper--andre-pasquier">
  <h1>The Choice is Yours</h1>

  <div class="spalte">
    <a href="http://www.imdsg.ch/" target="_blank">
      <img src="img/andre-pasquier/button.gif" alt="button" class="giphy">
    </a>
  </div>

  <div class="spalte">
    <a href="https://unfun.de/" target="_blank">
      <img src="img/andre-pasquier/kitty.gif" alt="kitty" class="giphy">
    </a>
  </div>

  <div class="spalte">
    <a href="https://www.livefromearth.de/" target="_blank">
      <img src="img/andre-pasquier/buttontwo.gif" alt="buttontwo" class="giphy">
    </a>
  </div>
</div>
