<div class="button-wrapper button-wrapper">
  <button data-name="Jonas" class="jonas-button">
    <div>
      <div class="jonas-button-links"><img src="/img/pfel.svg" alt="pfeil">
      </div>
      <div class="jonas-button-rechts">ZURÜCK</div>
    </div>
  </button>
</div>
