<div class="button-wrapper button-wrapper--maurice">
  <h3> 100 clicks = 1 free Beer</h3>
  <button data-name="maurice">Click me: 0</button>
  <img src="https://www.ultraliquors.co.za/images/cooldrinks/beer-at-ultraliquors.jpg"/>
</div>
