<div class="button-wrapper button-wrapper--rouven">
  <button class="fudes-button" data-name="rouven">send fudes</button>
  <img class="reset-button" src="https://img.icons8.com/android/50/000000/synchronize.png" />
</div>
