<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Buttons</title>
    <meta name="description" content="Buttons" />

    {% if assets and assets.css %}
      <link
        rel="stylesheet"
        href="/build/{{ assets.css|e('html_attr') }}"
      />
    {% endif %}
    <script
      type="text/javascript"
      src="/build/modernizr.js"
    ></script>
  </head>
  <body>
    {% if not assets %}
      <p style="font-size:2rem;color:red;font-family:'Comic Sans MS',fantasy;text-align:center;">
        webpack-assets.json could not be loaded, make sure to make a `npm build`!
      </p>
    {% endif %}
    {% if not stats %}
      <p style="font-size:2rem;color:red;font-family:'Comic Sans MS',fantasy;text-align:center;">
        stats.json could not be loaded, you'll have to create it first
      </p>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include 'info.twig' %}

    {% if assets and assets.css %}
      <script src="/build/{{ assets.js|e('html_attr') }}"></script>
    {% elseif assets %}
      <script src="{{ assets.js|e('html_attr') }}"></script>
    {% endif %}
  </body>
</html>
