.buttons {
  background: $grey;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.button-wrapper {
  position: relative;
  width: 100%;
  min-height: 25vh;
  margin-bottom: 1.5rem;
  background: white;

  &:last-child {
    margin-bottom: 0;
  }
}

.stats {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}
