{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    {% for p in participants %}
      {% include 'buttons/' ~ p.name ~ '.twig' %}
      {% include 'stats.twig' with { name: p.name, display: p.display } %}
    {% endfor %}
  </div>

{% endblock %}
