{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    {% include 'buttons/tobija.twig' %}
    {% include 'stats.twig' with { name: 'tobija', display: 'Tobija' } %}
    {% include './buttons/button-andre-pasqiuer.twig' %}
    {% include 'stats.twig' with { name: 'andre', display: 'Andre' } %}
    {% include 'buttons/jonas.twig' %}
    {% include 'stats.twig' with { name: 'jonas', display: 'Jonas' } %}
    {% include './buttons/alina.twig' %}
    {% include 'stats.twig' with { name: 'alina', display: 'Alina' } %}
    {% include './buttons/cedrine.twig' %}
    {% include 'stats.twig' with { name: 'cedrine', display: 'Cedrine' } %}
    {% include './buttons/nathalie.twig' %}
    {% include 'stats.twig' with { name: 'nathalie', display: 'Nathalie' } %}
    {% include './buttons/marvin.twig' %}
    {% include 'stats.twig' with { name: 'marvin', display: 'Marvin' } %}
    {% include './buttons/rouven.twig' %}
    {% include 'stats.twig' with { name: 'rouven', display: 'Rouven' } %}
  </div>

{% endblock %}
