{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    {% include 'buttons/tobija.twig' %}

    {% include './buttons/button-andre-pasqiuer.twig' %}
  </div>

  <div class="menu">
    <button class="info-button">Show Info</button>
  </div>

  {% include "info.twig" %}

{% endblock %}
