{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button data-name="button-1">Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button data-name="button-2">Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button data-name="button-3">Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button data-name="button-4">Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button data-name="button-5">Click me!</button>
    </div>
  </div>

  <div class="menu">
    <button class="info-button">Show Info</button>
  </div>

  {% include "info.twig" %}

{% endblock %}
