{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    {% include 'buttons/tobija.twig' %}
    {% include 'stats.twig' with { name: 'Tobija' } %}
    {% include './buttons/button-andre-pasqiuer.twig' %}
    {% include 'stats.twig' with { name: 'Andre' } %}
    {% include 'buttons/jonas.twig' %}
    {% include 'stats.twig' with { name: 'Jonas' } %}
    {% include './buttons/alina.twig' %}
    {% include 'stats.twig' with { name: 'Alina' } %}
    {% include './buttons/cedrine.twig' %}
    {% include 'stats.twig' with { name: 'Cedrine' } %}
  </div>

  <div class="menu">
    <button class="info-button">Show Info</button>
  </div>

  {% include "info.twig" %}

{% endblock %}
