{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="buttons">
    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button>Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button>Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button>Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button>Click me!</button>
    </div>

    <div class="button-wrapper button-wrapper--wolfgangschoeffel">
      <button>Click me!</button>
    </div>
  </div>

  <div class="menu">
    <button class="info-button">Show Info</button>
  </div>

  {% include "info.twig" %}
  
{% endblock %}
