<div class="info">
  <div class="info__overlay"></div>
  <div class="info__content">
    <h1 class="info__title">Buttons</h1>
    <p>This is the outcome of a Workshop held by Emanuel Tannert & Wolfgang Schöffel of unfun.de at SIMD 2018 in St.Gallen.</p>
    
    <p>Participants: <a href="#">Martina Muster</a>, Max Mustermann, Martina Muster, <a href="#">Max Mustermann</a>, Martina Muster, Max Mustermann</p>

    <p>Every participant was asked to create at least one button. It could be small or large. Colorful or Monogchrome. Silent or loud. The clicks of the buttons are counted and displayed in the ranking.</p>

    {% include 'ranking.twig' %}
  </div>
</div>
