<div class="info">
  <div class="info__content">
    <h1 class="info__title">Buttons</h1>
    <p>
      This is the result of a workshop held by Emanuel Tannert & Wolfgang Schöffel of <a href="https://unfun.de/" target="_blank">unfun</a> at <a href="https://www.imdsg.ch/" target="_blank">Swiss Interactive Media Design Day 2018</a> in St. Gallen.
    </p>

    <p>
      Every participant was asked to create a button. It could be small or large. Colorful or Monochrome. Silent or loud. The clicks of the buttons are counted and displayed in the ranking.
    </p>

    <p>
      The source code for this website is available on GitHub: <a href="https://github.com/em4nl/simdd-2018-button-contest" target="_blank">https://github.com/em4nl/simdd-2018-button-contest</a>
    </p>
  </div>
</div>
