<table class="ranking">
  <thead>
    <tr>
      <th>Clicks</th>
      <th>Button Name</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>XYZ Button</td>
      <td>Martina Mustermann</td>
    </tr>
    <tr>
      <td>1</td>
      <td>XYZ Button</td>
      <td>Martina Mustermann</td>
    </tr>
    <tr>
      <td>1000</td>
      <td>XYZ Button</td>
      <td>Martina Mustermann</td>
    </tr>
    <tr>
      <td>10</td>
      <td>XYZ Button</td>
      <td>Martina Mustermann</td>
    </tr>
    <tr>
      <td>0</td>
      <td>XYZ Button</td>
      <td>Max Mustermann</td>
    </tr>
  </tbody>
</table>
