<table class="ranking">
  <thead>
    <tr>
      <th>Clicks</th>
      <th>Button Name</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for button in stats %}
    <tr>
      <td>{{ button.votes }}</td>
      <td>{{ button.name }}</td>
      <td>{{ button.author }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
