<table class="ranking">
  <thead>
    <tr>
      <th>Clicks</th>
      <th>Button Name</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for button_name, button in stats %}
    <tr data-button-name="{{ button_name }}">
      <td class="votes">{{ button.votes }}</td>
      <td class="name">{{ button.name }}</td>
      <td class="author">{{ button.author }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
